* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
nav {
  height: 100vh;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

nav a {
  width: 100%;
  padding: 7px 20px;
  font-size: 15px;
  color: rgb(91 92 96);
  border-top: 1px solid black;
}
a:hover {
  color: inherit !important ;
  text-decoration: none !important;
}
.content {
  height: 100vh;
  overflow-y: auto;
}

.content h5 {
  padding: 29px;
}
.content p {
  padding: 0 15px 0px 15px;
}

.content ul {
  padding: 21px 0 0 50px;
}

.code {
  width: 96%;
  height: 85px;
  background-color: #f1eeee;
  padding: 29px 0 0 90px;
  border-radius: 13px;
  margin: 17px 0 13px 39px;
  font-size: 15px;
  font-family: monospace;
}
.code1 {
  width: 96%;
  height: 126px;
  background-color: #f1eeee;
  padding: 29px 0 0 90px;
  border-radius: 13px;
  margin: 17px 0 13px 39px;
  font-size: 15px;
  font-family: monospace;
}
#form {
  margin-left: 58px;
}

.col-md-2 {
  position: relative !important;
}

@media only screen and (min-width: 768px) {
  .col-md-2 {
    position: fixed !important;
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  body {
    color: black;
    width: 100%;
  }

  nav {
    width: 100%;
    height: auto !important;
    overflow-y: auto;
  }
  nav a {
    width: 100%;
    padding: 10px 16px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    border-top: 1px solid black;
  }
  .content {
    width: 100% !important;
    height: 100% !important;
    overflow-y: unset !important;
  }
 

  .row {
    height: 100vh;
    overflow-y: auto;
  }

  .code {
    width: 86%;
    height: 131px;
    background-color: #f1eeee;
    padding: 26px;
    border-radius: 13px;
    margin: 0px 0px 15px 30px;
    font-size: 15px;
    font-family: monospace;
  }

  .code1 {
    width: 88%;
    height: 191px;
    background-color: #f1eeee;
    border-radius: 13px;
    margin: 0px 0 15px 30px;
    font-size: 15px;
    font-family: monospace;
    padding: 26px;
  }
  .code2{
    width:88%;
    height: 149px;
    background-color: #f1eeee;
    border-radius: 13px;
    margin: 0px 0 15px 30px;
    font-size: 15px;
    font-family: monospace;
    padding: 26px;
  }
}
